body {
    background-color: #f6fff1;
    min-height: 100vh;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
main{
    margin-top: 110px;
    
}
.intro-header {
    background-color: #778559;
    padding: 40px;
    text-align: center;
}

.intro-header h1 {
    color: #fff;
    font-size: 2.5em;
    margin: 0;
}

.intro-header p {
    color: #fff;
    font-size: 1.2em;
    max-width: 800px;
    margin: 20px auto;
}
.epidermis {
    background-color: #fafff8;
    padding: 60px 20px;
    position: relative;
}

.epidermis .anatomy-content {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.epidermis .anatomy-text {
    flex: 1 1 50%;
    padding: 20px;
    padding-left: 200px;
    padding-right: 40px;
}

.epidermis h2 {
    color: #778559;
    font-size: 2em !important;
   
}

.epidermis h3 {
    color: #778559;
    font-size: 1.5em;
    padding-bottom: 0;
    margin-bottom: 0;
}

.epidermis ul {
    list-style-type: disc !important;
    list-style-position: outside !important;
    color: #778559 !important;
    line-height: 1.7 !important;
    padding-top: 0;
    margin-top: 0;
}

.epidermis li {
    display: list-item !important;
}
.epidermis img{
    max-width: auto; 
    height: 750px !important; 
    padding-left: 60px; 
    padding-top:60px;
    
}
.dermis-section {
    background-color: #f6fff1;
    padding: 60px 20px;
    position: relative;
}

.dermis-section .content-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dermis-section .text-container {
    flex: 1 1 50%;
    padding: 20px;
}

.dermis-section h3 {
    color: #778559;
    font-size: 1.5em;
}

.dermis-section ul {
    list-style-type: disc !important;
    list-style-position: outside !important;
   
   
    color: #778559;
    line-height: 1.8 !important;
}

.dermis-section ul li {
    display: list-item !important;
  
}

.dermis-section .image-container {
    flex: 1 1 40%;
    padding: 20px;
    text-align: center;
    position: relative;
}

.dermis-section .image-container img {
    max-width: 100%;
    height: auto;
    padding-left: 60px;
    padding-bottom: 90px;
}

.dermis-section .image-overlay {
    position: absolute;
    top: 20px;
    left: 60px;
    width: calc(100% - 60px);
    height: 50px;
    background-color: #f6fff1;
}
.subcutis-section {
    background-color: #f0ffe7;
    padding: 60px 20px;
    position: relative;
}

.subcutis-section .content-container {
    max-width: 1200px !important;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.subcutis-section .text-container {
    flex: 1 1 50%;
    padding: 20px;
}

.subcutis-section h3 {
    color: #778559;
    font-size: 1.5em;
}

.subcutis-section ul {
    color: #778559;
    line-height: 1.8;
    list-style-type: disc !important;
    list-style-position: outside !important;
    padding-left: 40px;
    margin: 20px 0;
}

.subcutis-section ul li {
    display: list-item !important;
    margin-bottom: 10px;
}

.subcutis-section .image-container {
    flex: 1 1 40%;
    padding: 20px;
    text-align: center;
}

.subcutis-section .image-container img {
    max-width: 100%;
    height: auto;
    margin-left: 70px;
    border-radius: 2px;
    transition: transform 0.3s;
}




.anatomy-section, .dermis-section, .subcutis-section {
    padding: 60px 20px;
    position: relative;
}

.anatomy-section h2, .anatomy-section h3, 
.dermis-section h3, .subcutis-section h3 {
    color: #778559;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.anatomy-section ul, 
.dermis-section ul, 
.subcutis-section ul {
    color: #778559;
    line-height: 1.8;
    list-style-type: none;
    padding: 0;
}

.anatomy-section ul li, 
.dermis-section ul li, 
.subcutis-section ul li {
    margin-bottom: 10px;
}

.anatomy-content, .function-content, .nail-content {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.anatomy-text, .nail-text {
    flex: 1 1 50%;
    padding: 20px;
}

.anatomy-image, .nail-image {
    flex: 1 1 40%;
    text-align: center;
}

.anatomy-image img, .nail-image img {
    max-width: 100%;
    height: auto;
    border-radius: 2px;
   
}



.function-section {
    background-color: #778559;
    color: #f6fff1;
    padding: 60px 20px;

}

.function-section h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
}

.function-card {
    flex: 1 1 30%;
    padding: 20px 40px;
    text-align: center;
}

.function-card h3 {
    color: #f6fff1;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.function-card p {
    color: #fafff8;
    line-height: 1.2;
}

.nail-section {
    padding: 60px 20px;
    background-color: #fafff8;
}

.nail-section .content-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nail-section .text-container {
    flex: 1 1 50%;
    padding: 20px;
}

.nail-section h2 {
    color: #778559;
    font-size: 2em;
    padding-bottom: 20px;
}

.nail-section h3 {
    color: #778559;
    font-size: 1.2em;
    padding-bottom: 10px;
    font-weight: 550;
}

.nail-section ul {
    color: #778559;
    line-height: 1.6;
    list-style-type: disc !important;
    list-style-position: outside !important;
  
    margin: 20px 0;
}

.nail-section ul li {
    display: list-item !important;
   
}

.nail-section .image-container {
    flex: 1 1 40%;
    padding: 20px;
    text-align: center;
}

.nail-section .image-container img {
    max-width: 100%;
    height: auto;
    padding-bottom: 110px;
    padding-right: 60px;
}

@media (max-width: 768px) {
   
    html, body {
        overflow-x: hidden !important;
        margin: 0;
    padding: 0;
        width: 100%;
    }
    * {
       
        box-sizing: border-box;
    }
    .header {
    margin-bottom: 10px !important;
    }

   
    
        
  
    
    
    .intro-header {
        width: 100%;
        padding: 5px !important;
        text-align: center;
        margin: 0 auto;
    }
    .intro-header h1{
        width:100%;
        font-size: 2em !important;
        padding-top: 20px;
    }
    .intro-header p{
        width:100%;
        font-size: 1.2em !important;
    }
    
    main{
        margin-top:50px !important;
        padding:0px !important;
      
    }
    .dermis-section, .epidermis, .subcutis-section, .nail-section, .function-section{
        padding:0px !important;
    }
    main, .epidermis, .dermis-section, .intro-header {
        overflow-x: hidden;
    }
    

    .epidermis .anatomy-content {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        padding-left: 10px;
    }

    .epidermis .anatomy-image {
        order: 1;
        width: 100%;
        text-align: center;
        margin-top: 20px;
        padding: 0;
    }

    .epidermis .anatomy-image img {
        height: 500px !important;
        width: auto;
        margin: 0 auto;
    }

    .epidermis .anatomy-text {
        width: 100%;
        padding: 0 20px;
        text-align: left;
    }
    
    .epidermis ul li {
        display: list-item !important;
        margin-bottom: 25px;
    }

    .dermis-section .content-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        padding-top: 50px;
        padding-left: 10px;
    }

    .dermis-section .image-container {
        position: relative !important;
        width: 100% !important;
        margin: 0px !important;
        padding: 0 !important;
        display: flex !important;
        justify-content: center !important;
        align-items: flex-start !important;
    }

    .dermis-section .image-container img {
        display: block !important;
        height: 300px !important;
        width: auto;
        margin: 0 auto !important;
        padding: 0 !important;
        position: relative !important;
        
        
    }
    .dermis-section .image-overlay {
        background-color: #f6fff1 !important;
        position: absolute !important;
        top: -20px !important;
     
        width: 70% !important;
        height: 50px !important;
        z-index: 10 !important;
    }

    .dermis-section .text-container {
        width: 100%;
        padding: 0 20px;
        text-align: left;
        padding-top: 20px;
        padding-left: 30px;
    }
    .dermis-section ul li {
        display: list-item !important;
        margin-bottom: 25px;
    }
    .subcutis-section .content-container {
        flex-direction: column;
        align-items: center;
    }
    .epidermis{
        padding-bottom: 100px !important;
    }
    .dermis-section{
        padding-bottom: 100px !important;
        
    }
    .subcutis-section{
        padding-bottom: 100px !important;
    }


    .subcutis-section .image-container {
        order: 1;
        width: 100%;
        text-align: left;
        margin-top: 20px;
        padding: 0;
    }
    .subcutis-section ul li {
        display: list-item !important;
        margin-bottom: 25px;
    }

    .subcutis-section .image-container img {
        height: 280px !important;
        width: auto;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
    }

    .subcutis-section .text-container {
        width: 100%;
        padding: 0 20px;
        text-align: left;
        padding-top:20px !important;
        padding-left: 10px;
    }
    .function-section .function-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 0 !important;
        
    }
    .function-section{
        padding-top: 40px !important;
        padding-bottom: 100px !important;
    }

    .nail-section{
        padding-top: 40px !important;
        padding-left: 30px !important;
        padding-right: 10px !important;
    }
    .function-section .function-card {
        margin: 0;
        padding: 20px 10px;
        width: 100%;
        text-align: center;
    }
    .nail-section .content-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .nail-section .text-container {
        width: 100%;
        padding: 0;
        text-align: left;
    }
    .nail-section .text-container h3{
        font-size: 1.05em;
    }

    .nail-section .image-container {
        order: 1;
        width: 100%;
        margin: 20px 0 0 0;
        text-align: center;
        padding: 0;
        padding-left: 50px !important;
    }

    .nail-section .image-container img {
        height:420px;
        width: auto;
        margin: 0 auto;
    }
}



