body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6fff1;
    color: #3f4630;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 50px;
    max-width: 1200px;
    margin: 0 auto;
}
h1{
    color:#778559;
    font-size:2.5em;
}
p{
    color:#778559;
    }
.price{
    color:#778559;
    font-size: 2em;
    font-weight: 700;
}
.add-to-basket{
    background-color: #778559; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    border-radius: 3px;
    font-size: 2em;
}
/* Image Carousel */
.image-box {
    width: 50%;
    position: relative;
}
.image-box img {
    width: 100%;
    height: auto;
    
    
}
.carousel-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}
.carousel-controls button {
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: #778559;
    font-size: 3em;
    cursor: pointer;
    padding: 10px;
}
/* Description and Ingredients buttons */
.collapsible {
    
}
.collapsible button {
    width: 1200px;
    padding: 15px;
    font-size: 1.2em;
    background-color: #f6fff1;
    color: #778559;
    border: none;
    cursor: pointer;
    text-align: left;
}
.content {
    display: none;
    padding: 20px;
    background-color: #e5eed8;
}
.content p {
    margin: 0;
}
/* Right Side Product Details */
.details-box {
    width: 50%;
}
.details-box h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color:rgb(119, 133, 89, 1);;
}
.details-box h3 {
    color:rgb(119, 133, 89, 0.8);
}
.details-box p {
    color:rgb(119, 133, 89, 0.8);
}
.details-box .price {
    font-size: 2em;
    color: #778559;
    margin-bottom: 20px;
    font-weight:bold;
}
.quantity {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}
.quantity button {
    padding: 5px;
    font-size: 1.5em;
    border: none;
    background-color: #f6fff1;
    color: #778559;
    cursor: pointer;
    border-radius: 2px;
}
.quantity input {
    width: 30px;
    text-align: center;
    font-size: 1em;
    border: none;
    margin: 0 10px;
    align-items: center;
    background-color: #f6fff1;
    left:50%;
    color: #778559;
}
.add-to-basket {
    background-color: #778559;
    color: white;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.you-may-also-like {
    margin-top: 100px;
    align-items: center;
    margin-bottom: 50px;
    text-align: center;
    color: #778559;

}
.you-may-also-like h3{
    font-size: 2em;
}
.you-may-also-like a {
    text-decoration: none;
    color: #778559;
    text-align: center;
    margin-top:20px;
    font-size: 1em !important;
}
.you-may-also-like img{
    margin-top: 50px;
    margin-bottom: 10px;
}
.you-may-also-like p{
    font-size: 1em;
}
.basket-icon {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}
