body {
    background-color: #f6fff1;
    font-size: 18px;
    line-height: 1.6;
    color: #778559;
}


.ingredient-row {
    display: flex;
    position: sticky !important;
    top: 0;
    justify-content: space-between;
    border-bottom: 0.5px solid #778559;
    margin-top: 100px;
}

.ingredient-box {
    flex: 1;
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 0 0.5px #778559;
    background-color: #f6fff1;
    color: #778559;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.ingredient-box:hover {
    background-color: #778559 !important;
    color: #f6fff1;
}

#ingredients-container {
    margin-top: 60px;
    padding: 1.5px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f6fff1;
    border-radius: 6px;
}

.ingredient {
    display: flex;
    margin-bottom: 100px;
    border-radius: 6px;
    border: 1px solid #778559;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.5);
}

#olive-oil.ingredient,
#jojoba-oil.ingredient,
#black-seed-oil.ingredient,
#collagen.ingredient,
#water.ingredient {
    background-color: #778559;
}

#shea-butter.ingredient,
#sweet-almond-oil.ingredient,
#leucidal-liquid.ingredient,
#olive-derived-wax.ingredient,
#salt.ingredient {
    background-color: #f6fff1;
}

.image-container {
    flex: 1;
}

#olive-oil .image-container,
#shea-butter .image-container {
    height: 900px;
}

#jojoba-oil .image-container {
    height: 850px;
}

#sweet-almond-oil .image-container {
    height: 760px;
}

#black-seed-oil .image-container {
    height: 780px;
}

#leucidal-liquid .image-container,
#olive-derived-wax .image-container {
    height: 760px;
}

#collagen .image-container {
    height: 820px;
}

#water .image-container {
    height: 680px;
}

#salt .image-container {
    height: 620px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.text-container {
    flex: 2;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#olive-oil .text-container,
#jojoba-oil .text-container,
#black-seed-oil .text-container,
#collagen .text-container,
#water .text-container {
    color: #f6fff1;
}

#shea-butter .text-container,
#sweet-almond-oil .text-container,
#leucidal-liquid .text-container,
#olive-derived-wax .text-container,
#salt .text-container {
    color: #778559;
}

.filler {
    font-size: 0.8em;
}

#olive-oil .filler,
#jojoba-oil .filler,
#black-seed-oil .filler,
#collagen .filler,
#water .filler {
    color: #fff;
}

#shea-butter .filler,
#sweet-almond-oil .filler,
#leucidal-liquid .filler,
#olive-derived-wax .filler,
#salt .filler {
    color: #5c6646;
}
.filler a{
    color:#f6fff1;
    text-decoration: none;
}
.filler2 a{
    color:#778559;
    text-decoration: none;
    font-size:0.8em;
}

    @media (max-width: 768px) {
        .ingredient-row {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative !important;
            width: 100%;
            padding: 0;
            margin: 0;
        }
    
        .ingredient-box {
            width: 100%;
            text-align: center;
            padding: 10px 0;
            border-bottom: 1px solid #778559;
            box-shadow: none;
        }
    
        .ingredient-box:last-child {
            border-bottom: none;
        }
    
    
    .ingredient {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 10px;
        background-color: #f6fff1;
    }

    .image-container {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .text-container {
        padding: 10px 0;
    }
         .header {
    margin-bottom: 10px !important;
    }
}






