
body {
    background-color: #f6fff1;
    color: #778559;
    font-family: Arial, sans-serif;
    margin: 0;

}

.sitemap-container {
    margin: 200px 0 200px 50px;
    text-align: left;
}

.sitemap-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.sitemap-container ul {
    list-style: none;
    padding: 0;
}

.sitemap-container li {
    margin: 10px 0;
}

.sitemap-container a {
    text-decoration: none;
    color: #778559;
    font-size: 18px;
}

.sitemap-container a:hover {
    text-decoration: underline;
}
